
<div class="marketProduct">
  <img class="supermarket1" src="/assets/image/Logo_Edeka.svg.png" alt="Card image cap">
</div>

<br>

<div class="row" id="content">

  {{#each products}}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src={{image}} class="card-img-top img-fluid img-thumbnail" id="products">
      <div class="card-body">
        <h5 class="card-title">{{product_name}}</h5>
        <p class="card-text">{{product_type }}</p>
        <a class="card-text">${{price}}</a>
      </div>
    </div>
  </div>

  {{/each}}

</div>