

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    City
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Berlin</a>
    <a class="dropdown-item" href="#">London</a>
    <a class="dropdown-item" href="#">Paris</a>
  </div>
</div>

<!-- Choose supermarket-->

<div class="row">

  {{#each supermarkets}}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src={{image}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{supermarket_name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>

  {{/each}}


</div>


<!-- foot-->

<div class="card-footer text-muted">
  Navio
</div>