
body {
  background-color: #b6b0b0;
}
.navbar {
  margin-bottom: 30px;
  padding: 0 100px 0 50px;
  background-color: rgb(220, 40, 40);
}

#content {
  padding: 0 100px 0 50px;
}

.city {
  padding: 0 100px 0 50px;
}

.supermarket1 {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  background-color: #b6b0b0;

}

.marketProduct{
background-color: #b6b0b0;
}

.card {
  height: 400px;
  margin-bottom: 20px;
}
#allsupermarket {
  width: 100px;
  height: auto;
}

#allsupermarket {
  margin: 30px 30px 30px 50px;

}

.products{
  width: 110px;
  height: 50px;

}

.card-img-top {
  height: 250px;
}

.card-footer {
  background: rgb(100, 97, 97);
  padding:50px;
  margin-top: 30px;
 

}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

