
body {
  background-color: #ffdf4f;
}
.navbar {
  margin-bottom: 30px;
}

.supermarket1 {
  width: 100px;
  height: 100px;
}
#allsupermarket {
  width: 100px;
  height: auto;
}

#allsupermarket {
  margin: 30px 30px 30px 50px;

}

.products{
  width: 100px;
  height: 50px;

}

.card-img-top {
  width: 250px;
  height: 250px;
}

.card-footer {
  background: black;
  padding: 20px;
  margin-top: 30px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
